<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="d-grid gap-3 col-3 mx-auto">
    <h2 class = "text-center">Sign up</h2>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" },
                label: false,
                placeholder: "Enter Email here" %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" },
                label: false,
                placeholder: "Create New Password" %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" },
                label: false,
                placeholder: "Confirm Password" %>

    <%= f.button :submit, "Sign up", class: "btn btn-primary btn-block" %>
  </div>

  <div class="form-actions">
    
  </div>
<% end %>

<%= render "devise/shared/links" %>
